/* bootstrap approach to custom css */

.col-1 {
  width: 8.3%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.5%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

.col {
  position: relative;
  padding-right: 15px;
}

.col-push-1 {
  margin-left: 8.3%;
}

.col-push-2 {
  margin-left: 16.67%;
}

.col-push-3 {
  margin-left: 25%;
}

.col-push-4 {
  margin-left: 33.33%;
}

.col-push-5 {
  margin-left: 41.67%;
}

.col-push-6 {
  margin-left: 50%;
}

.col-push-7 {
  margin-left: 58.33%;
}

.col-push-8 {
  margin-left: 66.67%;
}

.col-push-9 {
  margin-left: 75%;
}

.col-push-10 {
  margin-left: 83.33%;
}

.col-push-11 {
  margin-left: 91.67%;
}

.col-push-12 {
  margin-left: 100%;
}

.row {
  width: 100%;
  display: block
}

@media (max-width: 900px) and (min-width: 470px) {
  .col-push-1 {
    margin-left: 0%;
  }

  .col-4 {
    width: 45%;
  }
}

@media (max-width: 469px) and (min-width: 250px) {
  .col-push-1 {
    margin-left: 0%;
  }
  .col-5 {
    width: 30%;
  }
  .col-4 {
    width: 45%;
  }

  .cam-photo-col {
    width: 90%;
  }

  .cam-text-col {
    width: 90%;
  }
}
